*{
  box-sizing: border-box;
  margin: 0px;
}

html,
body {
  font-family: 'M PLUS 1p', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

fieldset{
  border: none;
}

fieldset label{
  font-size: 18px;
  padding-right: 1ch;
}

